@charset "UTF-8";

/*
 *    style.css
 *    Copyright (C) 1994-2003 LiveJournal.com, Inc., a subsidiary of Six Apart, Ltd.
 *    Copyright (C) 2019-2021 НЕВСКИЙ БЛЯДИНА <neva_blyad@lovecry.pt>
 *                                            <neva_blyad@lovecri.es>
 *
 *    This file is part of LoveCrypt.
 *
 *    LoveCrypt is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    LoveCrypt is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with LoveCrypt.  If not, see <https://www.gnu.org/licenses/>.
 *
 *    To see a copy of the license and information with full list of Non-GPL
 *    components distributed by us please visit:
 *    www.lovecrypt7k5p7uh.onion/copying/
 */

*
{
    font-family:        Arial, sans-serif;
    overflow-wrap:      break-word;
    word-wrap:          break-word;
}

pre
{
    font-family:        Courier New, monospace;
    margin:             0px;
}

body
{
    background-color:   black;
    color:              white;
}

h1
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;
}

h1,
h1 a,
h2,
h2 a
{
    color:              #AFFF00;
}

/*
 * <a>
 */
a:link    /* Unvisited link */
{
    color:              #FF00AF;
}

a:visited /* Visited link */
{
    color:              #585858;
}

a:hover   /* Mouse over link */
{
    color:              #DF00AF;
}

a:active  /* Selected link */
{
    color:              #5F00DF;
}

/*
 * <form>
 */
form label
{
    cursor:             pointer;
}

form input,
form select,
form textarea
{
    background-color:   black;
    box-sizing:         border-box;
    color:              white;
}

form input[list],[type=checkbox],[type=password],[type=text],
form select
{
    border:             1px;
    border-style:       none none solid none;
}

form input[type=checkbox]
{
    cursor:             pointer;
}

form input[type=reset],[type=submit]
{
    border:             2px;
    cursor:             pointer;
    padding:            5px;
    border-style:       solid solid solid solid;
}

form select
{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background:         url(/img/arrow.png) no-repeat right;
    cursor:             pointer;
}

form textarea
{
    border:             1px;
    border-style:       none none solid none;
    font-family:        monospace;
    resize:             none;
}

form input[list]:focus,[type=checkbox]:focus,[type=password]:focus,[type=text]:focus,
form select:focus,
form textarea:focus
{
    color:              #FF00AF;
}

/*
 * <div id="table">
 */
div#table
{
    display:            table;
    width:              100%;
    height:             100%;
}

/*
 * <div id="header">
 */
div#header
{
    display:            table-row;
    width:              100%;
}

/*
 * <div id="menu">
 * <div id="pages">
 * <div id="cnt">
 */
div#menu,
div#pages,
div#cnt
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;
    display:            table-cell;
    width:              100%;
}

/*
 * <div id="footer">
 */
div#footer
{
    display:            table-row;
    width:              100%;
}

/*
 * <div id="main">
 */
div#main
{
    display:            table-row;
    width:              100%;
    height:             100%;
}

/*
 * <div id="dummy">
 */
div#dummy
{
    display:            table-cell;
    width:              100%;
    height:             100%;
}

/*
 * <div id="centr">
 */
div#centr
{
    display:            table-cell;
    align-items:        center;
    justify-content:    center;
    text-align:         center;
    width:              100%;
    height:             100%;
}

/*
 * <div id="centr_full">
 */
div#centr_full
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;
    display:            flex;
    height:             100%;
    width:              100%;
}

/*
 * <div id="left">
 */
div#left
{
    display:            table-cell;
}

/*
 * <div id="centr640">
 */
div#centr640
{
    display:            table-cell;
    width:              640px;
    max-width:          640px;
}

/*
 * <div id="right">
 */
div#right
{
    display:            table-cell;
}

/*
 * <div id="tile">
 */
div#tile
{
    padding-left:       18px;
    padding-right:      18px;
}

/*
 * <p id="zero_margin">
 */
p#zero_margin
{
    margin:             0px;
}

/*
 * <p id="centr">
 */
p#centr
{
    margin:             0px;
    align-items:        center;
    justify-content:    center;
    text-align:         center;
}

/*
 * <p id="left">
 */
p#left
{
    margin:             0px;
    text-align:         left;
}

/*
 * <p id="padding">
 */
p#padding
{
    margin:             0px;
    padding-bottom:     5px;
    padding-top:        5px;
}

/*
 * <p id="centr_padding">
 */
p#centr_padding
{
    margin:             0px;
    align-items:        center;
    justify-content:    center;
    text-align:         center;

    padding-bottom:     5px;
    padding-top:        5px;
}

/*
 * <p id="left_padding">
 */
p#left_padding
{
    margin:             0px;
    padding-bottom:     5px;
    padding-top:        5px;
    text-align:         left;
}

/*
 * <p id="double">
 */
p#double
{
    margin:             0px;
    line-height:        2;
}

/*
 * <span id="menu">
 */
span#menu
{
    margin-left:        5px;
    margin-right:       5px;
}

/*
 * <span id="page">
 */
span#page
{
    margin-left:        5px;
}

/*
 * <span id="profile">
 */
span#profile
{
    white-space:        nowrap;
}

span#profile img#icon
{
    padding-right:      2px;
    vertical-align:     bottom;
}

/*
 * <form id="filters">
 */
form#filters label#grey
{
    color:              #585858;
}

form#filters input[type=submit]
{
    width:              150px;
}

form#filters select
{
    width:              100%;
}

/*
 * <table id="filters">
 */
table#filters
{
    border-spacing:     0px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
}

table#filters th
{
    text-align:         left;
    vertical-align:     top;
}

table#filters td
{
    vertical-align:     top;
}

table#filters th#service,
table#filters th#church_title,
table#filters th#commandery
{
    width:              240px;
    max-width:          240px;
}

table#filters td#service,
table#filters td#church_title,
table#filters td#commandery
{
    font-size:          small;
    width:              240px;
    max-width:          240px;
}

table#filters th#sort
{
    width:              300px;
    max-width:          300px;
}

table#filters td#sort_by
{
    width:              240px;
    max-width:          240px;
}

table#filters td#sort_order
{
    width:              60px;
    max-width:          60px;
}

/*
 * <table id="users">
 */
table#users
{
    border-spacing:     0px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
}

table#users th,
table#users td
{
    vertical-align:     top;
}

table#users img#avatar
{
    max-width:          100px;
    max-height:         100px;
}

table#users th#avatar
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
}

table#users td#avatar
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
}

table#users td#main
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
    max-width:          200px;
    white-space:        pre-wrap;

    align-items:        center;
    justify-content:    center;
    text-align:         center;
}

table#users td#main_centr
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
    max-width:          200px;
    white-space:        pre-wrap;

    align-items:        center;
    justify-content:    center;
    text-align:         center;
    font-size:          small;
}
